<!DOCTYPE html>
<html>
  <head>
    <title>Tweety</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header class="header">Tweety</header>
    <ul>
      <li><a href="#">Tweety投稿</a></li>
      <li><a href="#">トップページ</a></li>
    </ul>
  </header>
  <%= yield %>
  <footer class="footer">
    <p>Copyright © Hagi All RIGHTS RESERVED.</p>
  </footer>
  </body>
</html>    <%= csp_meta_tag %>
