<!DOCTYPE html>
<html>
    <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

  <body>
    <header class="header clearfix">
      <h1 class="logo">Tweety</h1>
      <ul class="top_menu clearfix">
        <li><%= link_to "投稿", new_post_path, class: "list" %></li>
        <li><%= link_to "投稿一覧", posts_path, class: "list" %></li>
      </ul>
    </header>

  <div class="container">
    <%= yield %>
  </div>
  <footer class="footer">
    <p>Copyright © Hagi All RIGHTS RESERVED.</p>
  </footer>
  </body>
</html>    <%#= csp_meta_tag %>
